/*
 * -------------------------------------------------
 *  Nextflow config file for running on AWS batch
 * -------------------------------------------------
 * Base config needed for running with -profile awsbatch
 */
params {
  config_profile_name = 'AWSBATCH'
  config_profile_description = 'AWSBATCH Cloud Profile'
  config_profile_contact = 'czbiohub_aws'
  config_profile_url = 'https://aws.amazon.com/de/batch/'
}

process {
  executor = 'awsbatch'
  queue = 'default-maf-pipelines'
  errorStrategy = 'ignore'
}

docker {
  enabled = true
}

workDir = "s3://genomics-workflow-core/_nextflow/runs/"
aws.region = 'us-west-2'

//By default Nextflow will assume the AWS CLI tool is directly available in the container.
//aws.batch.cliPath = '/usr/bin/aws'


// AWS configurations
params.awsregion = "us-west-2"
params.awsqueue = "nextflow"
params.tracedir = './'
